<h1>Browse for Files</h1>
<%= toggle_grouping_links %>
<div id="main-browser">
<%= render :partial => 'browser', :locals => { :asset_types => @asset_types, :for_content => false } %>
</div>

<% content_for :sub_content do  %>
<h2>Upload File</h2>
<%= asset_upload_form %>
<% end %>
