<div id="flickr-select">
  <h2>Flickr Images</h2>
  <% form_remote_tag( :url => admin_flickr_path, :method => :get ) do -%>
  <p><label for="tags">Search by tag:</label>
  <%= text_field_tag :tags, params[:tags] %> &nbsp; <%= submit_tag "go" %></p>
  <% end -%>

  <% for photo in flickr_images %>
     <%= link_to "#{image_tag photo.url(:square)}", "#{photo.url(:large)}", :title => "#{photo.title}", :onclick => "addLinkedImage('#{photo.url(:medium)}',this.title); return false;" %>
  <% end -%>

</div>