
<div id="flickr-select">
  <% form_remote_tag( :url => admin_flickr_path ) do -%>
  <p><label for="tags">Search by tag:</label>
  <%= text_field_tag :tags, params[:tags] %> &nbsp; <%= submit_tag "go" %></p>
  
  <% end -%>

  <%= render :partial => 'admin/shared/flickr_image.html.erb', :collection => flickr_images -%>

</div>