
<div id="flickr-select">
  <% form_remote_tag( :method => :get, :url => admin_flickrs_path, :before => "flickr_before_handler()", :success => "flickr_display_images(request);" ) do -%>
  <p><label for="tags">Search by tag:</label>
  <%= text_field_tag :tags, params[:tags] %> &nbsp; <%= submit_tag "go" %> <span id="flickr_loading">Loading Flickr images</span></p>
  
  <% end -%>
  
  <div id="flickr-image-container">
    <% #= render :partial => 'admin/shared/flickr_image.html.erb', :collection => flickr_images -%>
  </div>

</div>